{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jsx-a11y",
    "import",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.base.config.js"
      }
    }
  },
  "rules": {
  },
  "globals": {
  },
  "env": {
    "node": true,
    "browser": true
  }
}
